.wrap{
    display: flex;
    flex-direction: column;
}

.row{
    margin-left: 200px;
    margin-top: 30px;
}

.btn{
    border: 1px solid;
    width: 120px;
    font-size: 16px;
    padding: 5px;
    margin-top: 20px;
}

.btn1{
    align-self: flex-end;
}

.btn2{
    align-self: center;
}